@page
@model CountryViewer.Pages.Countries.CountryByContinentModel
@{
}

<h1>Countries for Continent: @Model.ContinentName </h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Name</th>
    </tr>

    @foreach (var country in Model.Countries)
    {
        <tr>
            <td>@country.Id</td>
            <td>@country.Code</td>
            <td>@country.Latitude</td>
            <td>@country.Longitude</td>
            <td>@country.Name</td>
        </tr>
    }
</table>